.divprod {
  margin-left: 15px;
}

.checkprod {
  margin-left: 0px !important;
  position: relative;
  width: 200px;
  height: 30px;
  margin-top: 10px;
}

.containercompra {
  margin-left: -70px;
}

.titulo {
  margin-left: -35px;
}

.labelprod{
    text-align: center !important;
    width: 200px;
    font-size: 1.22rem;
    margin-top: 5px;
}

.labelpreco{
    font-weight: bolder;
    font-size: 2rem !important;
    margin-top: 0 !important;
}
.divbotoes{
    position:absolute;
    margin-top: -83px;
    margin-left: 880px;
}